@font-face {
  font-family: 'PP Mondwest';
  src: url(/assets/PPMONDWEST-REGULAR.OTF);
}

@font-face {
  font-family: 'PP Neuebit';
  src: url(/assets/PPNEUEBIT-BOLD.OTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #E8DDCB;
    color: #f0f0f0;
    
  }
  
  .cabeca {
    color: #f0f0f0;
    text-decoration: none;
    font-family: 'PP Neuebit';
    font-size: 20px;
    margin-left: 2rem;
    position: relative;
    transition: color 0.3s;
    transition: all 0.4s ease;
      position: relative;
      z-index: 0;
  }

  #link_landing {
    margin-left: 0;
  }

  .cabeca::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #f0f0f0;
    transition: width 0.3s ease;
  }
  
  .cabeca:hover::after {
    width: 100%;
  }

  header {
    background-color: #115B35;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'PP Neuebit', sans-serif;
    max-height: 60px;
  }
  
  header img {
    height: 28px;
  }
  
  header nav {
    display: flex;
    align-items: center;
  }
  
  footer {
    background-color: #115B35;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'PP Mondwest';
    max-height: 60px;
    width: 100%;
  }

  
  main {
    flex: 1;
    min-height: calc(100vh - 60px);
  }
  
@media (max-width: 768px) {
  header {
      padding: 2rem;
      gap: 20px;
  }
  
  footer {
      padding: 1.5rem;
      gap: 20px;
  }
  
  .cabeca {
      margin-left: 1.5rem;
      font-size: 16px;
  }
}

@media (max-width: 480px) {
  header {
      padding: 0.5rem;
  }
  
  footer {
      padding: 0.5rem;
      font-size: 14px;
  }
  
  .cabeca {
      margin-left: 0.5rem;
      font-size: 16px;
  }
}


body.modo-escuro {
 background-color: #1E1E1E;
  color: #E8DDCB;
}
body.modo-escuro .secao-principal {
  background-color: #2b2b2b;
}
body.modo-escuro .sidebar {
  background-color: #1E1E1E;
  color: #E8DDCB;
}
body.modo-escuro .descricao{
  color: #E8DDCB;
}
body.modo-escuro .pagina{
 color: #F2F2F2;

}
body.modo-escuro .comprar{
 background-color: #115B35;
 }
body.modo-escuro .carrinho{
  background-color: #115B35;
  }
body.modo-escuro .compra-container{
background-color: #6A7A49;
    }
body.modo-escuro .preco{
color: #F2F2F2;
      }
body.modo-escuro .botao{
background-color: #115B35;
color: #F2F2F2;
}
body.modo-escuro .detalhess{
color: #F2F2F2;
  }
body.modo-escuro .botao{
color: #F2F2F2;
    }
body.modo-escuro .areapag{
background-color: #1E1E1E;
   }
body.modo-escuro .titulo{
color: #F2F2F2;
       }    
body.modo-escuro .citação{
color: #F2F2F2;
           }  
body.modo-escuro .livrodomês h1{
color: #F2F2F2;
   }  
body.modo-escuro .livrodomês h2{
    color: #F2F2F2;
       }  
body.modo-escuro  .subtitulo h2 {
  color: #F2F2F2;
}
body.modo-escuro  .intro{
  color: #F2F2F2;
}

body.modo-escuro blockquote {
  color: #F2F2F2;
}

#toggle-darkmode {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: inherit;
  margin-left: auto;
  padding: 10px;
}


  
