@font-face {
  font-family: 'PP Mondwest';
  src: url(/assets/PPMONDWEST-REGULAR.OTF);
}

@font-face {
  font-family: 'PP Neuebit';
  src: url(/assets/PPNEUEBIT-BOLD.OTF);
}

#corpo {
    font-family: 'PP Mondwest';
    background-color: #f3e7d5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .main-content {
    padding: 20px;
    flex: 1;
  }

  .titulo-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 8px;
    margin-bottom: 20px;
  }

  .titulo-barra h1 {
    font-family: 'PP Mondwest';
    font-size: 40px;
    color: #000000;
  }

  .pesquisa input {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #999;
    font-size: 1rem;
  }

  .categorias {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-left: 32%;
  }

  .categorias button {
    background-color: #115B35;
    color: white;
    font-family: 'PP Mondwest';
    padding: 8px 29px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .categorias button:hover {
    background-color: #115B35;
  }

  .livros-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 800px;
    margin: 0 auto;
  }

  .livros-grid img {
    height: 220px;
    width: auto;
    object-fit: cover;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
  }

  .livros-grid img:hover {
    transform: scale(1.03);
  }

  @media (min-width: 768px) {
    .livros-grid img {
      width: 160px;
    }
  }
