
@font-face {
    font-family: 'PP Mondwest';
    src: url(/assets/PPMONDWEST-REGULAR.OTF);
  }
  
  @font-face {
    font-family: 'PP Neuebit';
    src: url(/assets/PPNEUEBIT-BOLD.OTF);
  }


.titulo {
    font-family: 'PP Mondwest';
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 20px;
    color: #000;
    font-weight: normal;
}

.titulo h1 {
    font-weight: normal;
}

.subtitulo {
    font-family: 'PP Mondwest';
    margin-top: 10px;
    align-items: flex-start;
    color: #000;
    margin-left: 2px;
}

.subtitulo h2 {
    font-family: 'PP Neuebit';
    font-size: 22px;
    color: #000;
    font-weight: normal;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.botao-entrar {
    width: 140px;
    height: 38px;
    background-color: #115B35;
    color: #fff;
    font-family: 'PP Neuebit';
    font-size: 20px;
    border: none;
    border-radius: 24px; /* metade da altura para borda bem arredondada */
    cursor: pointer;
    text-align: center;
    line-height: 38px; /* centraliza o texto verticalmente */
    text-decoration: none;
    margin-right: 65px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.botao-entrar:active {
    transform: scale(0.95);
}

.botao-entrar.clicado {
    background-color: #5E6238;
    width: 50px;
    height: 50px;
    margin-right: 100px;
    border-radius: 100%;
    line-height: 60px;
    padding: 0;
}