@font-face {
  font-family: 'PP Mondwest';
  src: url(/assets/PPMONDWEST-REGULAR.OTF);
}

@font-face {
  font-family: 'PP Neuebit';
  src: url(/assets/PPNEUEBIT-BOLD.OTF);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.fundinho {
  height: 100vh;
  background-image: url("/assets/background-perfil.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  

}
.perfil img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
  float: left;
}

.perfil {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 60px;
  gap: 10px;

}

.perfil,
h2 {
  font-family: 'PP Mondwest';
  
  
}

.perfil,
p {
  font-family: 'PP Neuebit';
}

.livros {
  text-align: center;
  margin-top: -5rem;
  padding-top: 0;

}

.livros h2 {
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;


}

.livros-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: flex-start;
}

.livros-grid img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.livros-grid img:hover {
  transform: scale(1.05);
}

.container {
  width: 640px;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 768px) {


  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0;
    gap: 1rem;
    margin-bottom: 6rem;
  }

  .perfil img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
  }

  .informacoes {
    margin: 0;
    text-align: center;
  }

  .livros-grid {
    grid-template-columns: 1fr;
    
  }
}